{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row-md-2">
        <h1>About</h1>
        <h2>Udacity Item Catalog</h2>
        <p>The website is part of Udacity Nano Degree Full Stack Program. </p>
        <p>To add category contact <i>adeelbarki@gmail.com</i></p>
        <p>To add item login using google or facebook account</p>
        <p>Any user can add item after third party login. Any wrong items will be deleted</p>
        <p>A user can delete or edit items only added by him/her</p>
    </div>
</div>

{% endblock %}