{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row-md-2">
        {% for category in categories %}
        <div class="media-body">
                <div class="article-metadata">
                <h5 class="card-title">{{category.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"><i>Items</i></h6>
                {% for item in items %}
                    {% if category.id == item.cat_id %}
                        <a class="card-link" href="{{url_for('item', item_id=item.id)}}">{{ item.title }}</a>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div>
        </div>
{% endblock %}