{% extends 'layout.html' %}
{% block content %}

<div class="card" style="width: 50rem; margin-top: 80px; margin-left: -100px">
  <div class="card-header">
    <strong>{{category.name}}</strong>
  </div>
  <div class="card-body" >
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.description}}</p>
    <hr>
    <p class="card-text"><i>Added by: {{user.name}}</i><br>
    <small class="text-muted">Posted: {{ item.date_posted.strftime('%a %d, %B %Y') }}</small></p>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('edit_item', item_id=item.id )}}">
      Edit</a>
    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
      Delete
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Item?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_item', item_id=item.id)}}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}